h1
{
	font-family: calibri;
	font-size: 30px;
	font-style: normal;
	font-weight: bold;
	color: #f59;
	text-decoration: underline;
	text-align: center;
	text-shadow: 2px 2px grey;
}

p
{
	color: aqua;
	font-family: verdana;
	font-size: 20px;
	font-style: italic;
	text-indent: 50px;
	text-transform: uppercase;
}
